{% extends "base.html" %}
{% block title %}
  Create a new Blog Post.
{% endblock title %}
{% block content %}
  <br><br>
  {% if  user.is_authenticated %}

  <h1>Add Post</h1><br>
  <div class="form-group">
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}  <!-- Loads CKEditor JS -->
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Post</button>
</form>


  </div>

{% else %}
<h3>You are not allowed here! (and you know it...)</h3>
{% endif %}
{% endblock content %}